/* A INCLURE DANS MEDIA SCREEN SMARTPHONE

.main {
    display: flex;
    flex-flow: column nowrap;
    width: 100vw;
    height: 180vw;
    margin: auto; */
   
   * {
        font-size: 26px;
        font-family: Arial, Helvetica, sans-serif;
    } 
    .main {
        display: flex;
        flex-flow: column nowrap;
        width: 450px;
        height: 585px;
        margin: 60px auto;
        background-color: darkgrey;
        border-radius: 10px;
    }
    .row, .first, .second, .third, .fourth, .fifth, .sixth {
        display: flex;
        flex-flow: row nowrap;
        height: 16%;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
    }
    .first {
        justify-content: center;
        align-items: center;
    }
    .sixth {
        margin-bottom: 2%;
    }
    .result {
        display : flex;
        flex-flow : row nowrap;
        justify-content: right;
        border: none;
        background-color: lightgray;
        width: 100%;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
        height: 100%;
        box-sizing: border-box;
        align-items: center;
        font-size: 44px;
    }
    .clear {
        display : flex;
        flex-flow : row nowrap;
        justify-content: center;
        align-items: center;
        border:none;
        background-color: rgb(129, 112, 112);
        width: 72%;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .point, .number1, .number2, .number3, .number4, .number5, .number6, .number7, .number8, .number9, .number0 {
        width: 22%;
        border: none;
        background-color: slategrey;
        border-radius: 10px;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
    }
    .operator {
        width: 22%;
        border: none;
        border-radius: 50%;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
    }
    .equalsTo {
        width: 48%;
        border: none;
        background-color: rgb(149, 149, 185);
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
        border-radius: 10px;
    }
